<!DOCTYPE html>
<html>
  <div><h1><%= @cocktail.name.capitalize %></h1></div>

  <div><h2><%= @cocktail.description %></h2></div>
  <br>
  <br>
  <div>
    <p><%= link_to "Make a change on #{@cocktail.name.downcase}", edit_cocktail_path %></p>
  </div>
  <div><%= link_to "add doses", new_cocktail_dose_path(@cocktail) %></div>
  <div>
    <p><%= link_to "Wanna see all the cocktails?",cocktails_path %></p>
  </div>
</html>
