<!DOCTYPE html>
<html>
  <div class = "cocktail_name"><h1><%= @cocktail.name.capitalize %></h1>
  </div>

  <div class = "cocktail_description"><p><%= @cocktail.description %></p></div>

  <div class ="dose_description_ingredient"><p><% @cocktail.doses.each do |dose|%>
  <%= dose.description %>
  <%= dose.ingredient.name %>
  <% end %>
  </p></div>


  <div>
     <p class=" changebtn btn btn-primary btn-lg"> <%= link_to "Make a change on #{@cocktail.name.downcase}", edit_cocktail_path  %>
     </p>
  </div>
  <div>
    <p id="addbtn" class="btn btn-primary btn-lg"><%= link_to "add doses", new_cocktail_dose_path(@cocktail) %>
    </p>
  </div>
</html>
